/*  _________________  _________________  _________________ */
/* _________________INDEX.HTML _________________ */
/*  _________________  _________________  _________________ */
@media (max-width: 900px) {
  .nav-list {
    display: flex;
    visibility: hidden;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #3f454fdc;
    height: 90vh;
    width: 0;
    overflow-x: hidden;
    z-index: 2;
    padding: 95px 0 207px 16px;
    row-gap: 32px;
    font-size: 25px;
    font-weight: 500;
    transition: width 0.2s ease-in-out, visibility 0s 0.2s;
  }

  .nav-button {
    display: block;
  }

  .nav.open .nav-list {
    visibility: visible;
    width: 360px;
    transition: width 0.2s ease-in-out, visibility 0s;
  }

  .nav.open .nav-button {
    position: fixed;
    z-index: 3;
    top: 16px;
    right: 16px;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-item {
    min-width: 330px;
  }

  .limit-line-projects,
  .limit-line-skils,
  .limit-line-about,
  .limit-line-contacts {
    max-width: 50vw;
  }
}

@media (max-width: 800px) {
  .about-frame {
    flex-direction: column-reverse;
    align-items: center;
  }
  .contacts-text,
  .about-text {
    margin-top: 16px;
    max-width: 90vw;
  }
  .contacts-frame {
    flex-direction: column;
    align-items: center;
  }
  .contacts-message {
    margin-top: 16px;
  }
}

@media (max-width: 630px) {
  .projects-header-text,
  .skils-header-text,
  .about-header-text {
    font-size: 18px;
  }
  .skils-frame {
    flex-direction: column;
    align-items: center;
  }
  .limit-line-projects,
  .limit-line-skils,
  .limit-line-about,
  .limit-line-contacts {
    max-width: 40vw;
  }
  .footer-frame{
    flex-direction: column;
    align-items: center;
  }
  .footer-ps,
  .footer-right{
    margin-top: 16px;
  }
}
